body {
  margin: 0;
  font-family: 'Vazir';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input[type="text"]::-webkit-input-placeholder,
input[type="email"]::-webkit-input-placeholder,
input[type="number"]::-webkit-input-placeholder {
  color: #3a015c;
}

input[type="text"],
input[type="email"],
input[type="number"] {
  color: #3a015c;
}

.form-control:focus {
  border-color: #71428d !important;
  color: rgb(48, 48, 48);
  -webkit-box-shadow: none;
  box-shadow: none;
  background-color: rgb(155, 155, 155) !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}